# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
**/.env
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Benchmark and Test Scripts
backend/scripts/

FYP_Report Template-1 copy.doc
architecture_diagram.html
erd_class_diagram.html
erd_diagram.html
gantt_chart.html
groq_charts.html
state_diagram.html
subsystem_flow_diagram.html
test_format_diagram.html
use_case_diagram.html
tech_stack_diagram.html